/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  padding: 0 0;
  margin: 0 0;
}

svg {
  width: 16px;
  height: 16px;
}

svg.option {
  height: 13px;
}

a {
  text-decoration: none;
  color: #383838;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px;
  color: #383838;
  min-height: 100vh;
}

header {
  height: 105px;
  background: #00B14F;
}

header:after {
  display: block;
  content: "";
  clear: both;
}

header .logo {
  float: left;
  width: 300px;
  height: 105px;
  text-align: center;
}

header .logo img {
  margin-top: 17px;
}

header .nav-header {
  float: right;
  width: calc(100% - 300px);
  height: 105px;
  text-transform: none;
  text-shadow: none;
  padding: 0 0;
  line-height: normal;
  font-weight: normal;
}

header .nav-header .user-info {
  padding: 10px 15px;
  text-align: right;
  margin-bottom: 21px;
  position: relative;
}

header .nav-header .user-info a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
}

header .nav-header .user-info a.noti {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #fff;
}

header .nav-header .user-info a svg {
  fill: #fff;
  vertical-align: middle;
  margin-left: 3px;
}

header .nav-header .user-info a.profile:hover ~ .profile-nav {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

header .nav-header .user-info .profile-nav {
  position: absolute;
  right: 15px;
  top: 25px;
  text-align: left;
  padding: 10px;
  z-index: 10;
  -webkit-transition: 0s;
  transition: 0s;
  opacity: 0;
}

header .nav-header .user-info .profile-nav:hover {
  opacity: 1;
}

header .nav-header .user-info .profile-nav ul {
  margin: 0 0;
  border: 1px solid #00B14F;
  padding: 10px 20px;
  background: #fff;
}

header .nav-header .user-info .profile-nav li {
  list-style: none;
}

header .nav-header .user-info .profile-nav li a {
  color: #00B14F;
  display: block;
  font-size: 14px;
  line-height: 25px;
}

header .nav-header .nav {
  margin-bottom: 0;
}

header .nav-header .nav ul {
  padding: 0 0;
  margin: 0 0;
}

header .nav-header .nav ul:after {
  display: block;
  content: "";
  clear: both;
}

header .nav-header .nav ul li {
  list-style: none;
}

header .nav-header .nav ul li.active, header .nav-header .nav ul li:hover {
  background: #009442;
}

header .nav-header .nav ul li.has-child {
  position: relative;
}

header .nav-header .nav ul li.has-child:hover > .sub-menu {
  display: block;
}

header .nav-header .nav ul li.has-child a {
  position: relative;
}

header .nav-header .nav ul li.has-child a svg.arrow {
  position: absolute;
  fill: #fff;
  width: 7px;
  height: 12px;
  right: 10px;
  top: 9px;
}

header .nav-header .nav ul li a {
  display: block;
  color: #fff;
  padding: 0 30px 0 40px;
  font-size: 16px;
  font-weight: 500;
}

header .nav-header .nav ul li a svg {
  fill: #fff;
  vertical-align: middle;
}

header .nav-header .nav ul.level-0 > li {
  float: left;
}

header .nav-header .nav ul.level-0 > li a {
  line-height: 45px;
}

header .nav-header .nav ul.sub-menu {
  display: none;
  position: absolute;
  width: 165px;
  z-index: 9;
}

header .nav-header .nav ul.sub-menu li {
  background: #00A54A;
}

header .nav-header .nav ul.sub-menu li:hover {
  background: #009442;
}

header .nav-header .nav ul.sub-menu li a {
  line-height: 35px;
  padding: 0 10px;
  font-weight: 400;
}

header .nav-header .nav ul.sub-menu.sub-level-1 {
  top: 45px;
}

header .nav-header .nav ul.sub-menu.sub-level-2 {
  left: 165px;
  top: 0;
  border-left: 1px solid transparent;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 95px);
}

#wrapper .col-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  -webkit-box-shadow: 6px -5px 10px -5px #b2b2b2;
          box-shadow: 6px -5px 10px -5px #b2b2b2;
  z-index: 1;
  padding: 20px 0;
}

#wrapper .col-left .sidebar {
  padding: 0 10px;
}

#wrapper .col-left .sidebar .add-new {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  color: #fff;
  background: #00B14F;
  border-radius: 5px;
}

#wrapper .col-left .sidebar .add-new svg {
  fill: #fff;
  vertical-align: middle;
  margin-left: 3px;
}

#wrapper .col-left .sidebar .header {
  padding: 10px 0 5px;
  border-bottom: 1px solid #00B14F;
  margin-bottom: 10px;
}

#wrapper .col-left .sidebar .header:after {
  content: "";
  clear: both;
  display: block;
}

#wrapper .col-left .sidebar .header span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding-left: 5px;
}

#wrapper .col-left .sidebar .header a {
  display: block;
  float: right;
  font-size: 14px;
  color: #fff;
  background: #00B14F;
  padding: 0 10px;
  line-height: 25px;
  border-radius: 4px;
}

#wrapper .col-left .sidebar .nav li.active > a svg.arrow {
  display: none;
}

#wrapper .col-left .sidebar .nav li.active a {
  border-bottom: 1px solid #afafaf;
}

#wrapper .col-left .sidebar .nav li.nav-child {
  padding-left: 10px;
}

#wrapper .col-left .sidebar .nav li.nav-main {
  border-bottom: 1px solid #a4a4a4;
}

#wrapper .col-left .sidebar .nav li.nav-main > a {
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  padding-left: 5px;
}

#wrapper .col-left .sidebar .nav li.nav-main > a svg {
  top: 12px;
}

#wrapper .col-left .sidebar .nav li.current > a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding: 5px;
  border-bottom: 1px solid #00B14F;
}

#wrapper .col-left .sidebar .nav li.current ul {
  padding: 5px 0;
}

#wrapper .col-left .sidebar .nav li.current ul li {
  padding-bottom: 5px;
}

#wrapper .col-left .sidebar .nav li.has-child ul {
  display: none;
}

#wrapper .col-left .sidebar .nav li a {
  font-size: 14px;
  line-height: 25px;
  display: block;
  position: relative;
}

#wrapper .col-left .sidebar .nav li a:hover {
  color: #00B14F;
}

#wrapper .col-left .sidebar .nav li a:hover svg {
  fill: #00B14F;
}

#wrapper .col-left .sidebar .nav li svg {
  fill: #383838;
  vertical-align: text-bottom;
  margin-right: 5px;
}

#wrapper .col-left .sidebar .nav li svg.arrow {
  position: absolute;
  right: 0;
  width: 7px;
  height: 12px;
  top: 5px;
  fill: #a4a4a4;
}

#wrapper .col-left .sidebar .nav li ul {
  padding-left: 25px;
  list-style: none;
}

#wrapper .col-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 15px;
  background: #f5f5f5;
}
