/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #383838;
  height: 100vh;
}

svg {
  width: 16px;
  height: 16px;
}

svg.nav-arrow {
  width: 7px;
  height: 12px;
}

svg.nav-plus {
  width: 14px;
  height: 14px;
}

.main-content {
  background: #f5f5f5;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 20px 70px 20px;
  min-height: calc(100vh - 48px);
  position: relative;
}

.main-content .copyright {
  position: absolute;
  bottom: 10px;
  right: 20px;
  left: 20px;
  z-index: 2;
  color: #a4a4a4;
  font-size: 16px;
}

.main-content .copyright a {
  color: #00B14F;
  text-decoration: underline;
}

.datepicker td, .datepicker th {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.85rem;
}

.datepicker {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .main-content .copyright {
    font-size: 14px;
  }
}

header {
  background: #00B14F;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 5px 8px -5px #b2b2b2;
          box-shadow: 0 5px 8px -5px #b2b2b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

header .menu-bar a {
  display: inline-block;
  font-size: 28px;
  color: #fff;
  padding: 0 20px;
  line-height: 48px;
}

header .menu-bar a:active, header .menu-bar a:focus {
  text-decoration: none;
}

header .profile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

header .profile a {
  color: #fff;
  display: inline-block;
  line-height: 48px;
  font-size: 15px;
  padding: 0 20px;
}

header .profile a svg {
  fill: #fff;
  vertical-align: middle;
  margin-left: 3px;
}

header .profile a svg.option {
  height: 13px;
}

header .profile a:hover {
  text-decoration: none;
  color: #fff;
  background: #00A54A;
}

header .profile a:hover + .profile-nav {
  display: block;
}

header .profile .profile-nav {
  position: absolute;
  display: none;
  right: 0;
  top: 100%;
  background: #00A54A;
  padding: 10px 20px;
  min-width: 210px;
}

header .profile .profile-nav:hover {
  display: block;
}

header .profile .profile-nav svg {
  width: 42px;
  height: 42px;
  fill: #fff;
  float: left;
}

header .profile .profile-nav ul {
  list-style: none;
  padding: 0 0;
  text-align: left;
  margin: 0 0;
}

header .profile .profile-nav ul li a {
  padding: 0 0;
  line-height: 21px;
  display: block;
  border-bottom: 1px solid transparent;
}

header .profile .profile-nav ul li a:hover {
  border-bottom: 1px solid #fff;
}

header .profile .profile-nav ul li a svg {
  width: 7px;
  height: 12px;
  float: none;
  vertical-align: middle;
  margin-right: 5px;
}

aside {
  width: 360px;
  -webkit-box-shadow: 6px -5px 10px -5px #b2b2b2;
          box-shadow: 6px -5px 10px -5px #b2b2b2;
  z-index: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

aside .information > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

aside .information .logo {
  padding-left: 25px;
}

aside .information .detail {
  padding: 25px 0;
}

aside .information .detail h3 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

aside .information .detail h3:after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background: #383838;
  margin-top: 4px;
}

aside .information .detail P {
  font-size: 10px;
  line-height: 12px;
  color: #666;
  margin-bottom: 0;
}

aside nav {
  padding: 20px 25px;
}

aside nav ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

aside nav ul li {
  border-bottom: 1px solid transparent;
}

aside nav ul li.has-sub > a {
  border-bottom: 1px solid #ddd;
}

aside nav ul li.has-sub > a span {
  text-decoration: none;
}

aside nav ul li.has-sub > a.collapsed {
  border-bottom-color: transparent;
}

aside nav ul li.has-sub .show span {
  border-bottom: 1px solid #ddd;
}

aside nav ul li a {
  display: block;
  line-height: 34px;
  color: #383838;
  font-size: 16px;
  padding-left: 25px;
  position: relative;
}

aside nav ul li a span {
  display: block;
  position: relative;
  border-bottom: 1px solid transparent;
}

aside nav ul li a svg {
  fill: #383838;
  position: absolute;
}

aside nav ul li a svg.nav-icon {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside nav ul li a svg.nav-arrow, aside nav ul li a svg.nav-plus {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside nav ul li a:hover {
  text-decoration: none;
  color: #00B14F;
}

aside nav ul li a:hover svg {
  fill: #00B14F;
}

aside nav ul li.active {
  border-bottom-color: #00B14F;
}

aside nav ul li.active a {
  color: #00B14F;
  font-weight: 500;
}

aside nav ul li.active a svg {
  fill: #00B14F;
}

@media (max-width: 1199px) {
  aside {
    position: absolute;
    background: #fff;
    z-index: 99;
    bottom: 0;
    top: 0;
  }
  aside.show {
    display: block !important;
  }
}

@media (max-width: 767px) {
  aside {
    width: 100%;
  }
  aside .information .detail {
    padding: 15px 0;
  }
  aside nav {
    padding: 0 15px;
  }
}

.pager {
  margin-top: 10px;
}

.pager .pagination li {
  margin-left: 7px;
}

.pager .pagination li.active a {
  background: #00B14F;
  border-color: #00B14F;
}

.pager .pagination li span {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  padding: 0 5px;
}

.pager .pagination li a.page-link {
  border-radius: 5px;
  border: none;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px 0 #c2c2c2;
          box-shadow: 1px 1px 3px 0 #c2c2c2;
  color: #383838;
  font-size: 14px;
  height: 33px;
  width: 33px;
}

.pager .pagination li a.page-link svg {
  fill: #383838;
  width: 10px;
  height: 10px;
}

.pager .pagination li a.page-link svg.next-page, .pager .pagination li a.page-link svg.prev-page {
  width: 5px;
}

.pager .pagination li a.page-link:hover {
  background: #00B14F;
  border-color: #00B14F;
  color: #fff;
}

.pager .pagination li a.page-link:hover svg {
  fill: #fff;
}

.pager .pagination li .custom-select {
  height: 33px;
  border-color: #aaa;
  cursor: pointer;
  min-width: 50px;
}

#wrapper {
  position: relative;
}

.main-content .employee {
  color: #383838;
}

.main-content .employee .block-list-employee {
  position: relative;
  padding: 13px 0 21px;
}

.main-content .employee .block-list-employee h3 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 8px;
  margin: 0 0 31px;
  line-height: 1.2;
  border-bottom: 1px solid #A4A4A4;
}

.main-content .employee .block-list-employee .btn-grid {
  border: none;
  padding: 0 10px;
  margin: 0;
  background: none;
  outline: none;
  position: absolute;
  right: 0;
  top: 17px;
}

.main-content .employee .block-list-employee .btn-grid svg {
  height: 18px;
  width: 18px;
  fill: #A4A4A4;
  display: block;
}

.main-content .employee .block-list-employee .employee-item {
  text-align: center;
  margin-bottom: 20px;
}

.main-content .employee .block-list-employee .employee-item .avatar {
  margin: 0 0 15px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.main-content .employee .block-list-employee .employee-item .avatar .btn-remove {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: -19px;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 1;
}

.main-content .employee .block-list-employee .employee-item .avatar .btn-remove svg {
  fill: #A4A4A4;
  vertical-align: top;
}

.main-content .employee .block-list-employee .employee-item .info {
  font-size: 16px;
  line-height: 1.2;
}

.main-content .employee .block-list-employee .employee-item .info strong {
  font-weight: 500;
}

.main-content .employee .block-list-employee .employee-item .info strong,
.main-content .employee .block-list-employee .employee-item .info span {
  display: block;
  margin: 0 0 2px;
}

.main-content .employee .block-list-employee .action-delete {
  padding-top: 17px;
  padding-bottom: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .employee .block-list-employee .action-delete .btn-primary,
.main-content .employee .block-list-employee .action-delete .btn-cancel {
  background: #00B14F;
  border: 1px solid #00B14F;
  border-radius: 3px;
  padding: 0 12px;
  height: 38px;
  width: 172px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 10px;
}

.main-content .employee .block-list-employee .action-delete .btn-cancel {
  background: #E5E5E5;
  border-color: #E5E5E5;
  color: #383838;
}

.main-content .employee .block-list-employee .action {
  margin-top: 6px;
  padding-top: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #A4A4A4;
}

.main-content .employee .block-list-employee .action .btn-primary {
  background: #00B14F;
  border: 1px solid #00B14F;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 0 12px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.main-content .employee .block-list-employee .action .btn-primary svg {
  fill: #fff;
  margin-left: 5px;
  margin-top: -3px;
}

.main-content .employee .block-calendar-onduty h3 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
  position: relative;
  margin: 0 0 10px;
}

.main-content .employee .block-calendar-onduty h3 span {
  background: #f5f5f5;
  display: inline-block;
  padding-right: 8px;
  position: relative;
  z-index: 2;
}

.main-content .employee .block-calendar-onduty h3:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #00B14F;
  bottom: 5px;
  left: 0;
}

.main-content .employee .block-calendar-onduty .filter {
  padding-bottom: 14px;
}

.main-content .employee .block-calendar-onduty .filter .input-component {
  position: relative;
  width: 165px;
  margin-left: 15px;
}

.main-content .employee .block-calendar-onduty .filter .input-component input {
  background: #ffffff;
  border: 1px solid #c5c5c5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 18px;
  height: 32px;
  padding-left: 18px;
}

.main-content .employee .block-calendar-onduty .filter .input-component svg {
  fill: #a4a4a4;
  position: absolute;
  right: 20px;
  top: 9px;
}

.main-content .employee .block-calendar-onduty .filter .btn-grid {
  border: none;
  padding: 0 10px;
  margin: 0;
  background: none;
  outline: none;
}

.main-content .employee .block-calendar-onduty .filter .btn-grid svg {
  height: 18px;
  width: 18px;
  fill: #A4A4A4;
  display: block;
}

.main-content .employee .block-calendar-onduty .box-content {
  background: #fff;
  padding: 0 13px 10px;
}

.main-content .employee .block-calendar-onduty .box-content table,
.main-content .employee .block-calendar-onduty .box-content .table {
  margin: 0;
}

.main-content .employee .block-calendar-onduty .box-content table thead th,
.main-content .employee .block-calendar-onduty .box-content .table thead th {
  vertical-align: middle;
  border-bottom: 1px solid #E5E5E5;
  border-top: 0;
  font-weight: 500;
  font-size: 18px;
  padding: 20px 5px 9px;
  white-space: nowrap;
  line-height: 1.2;
}

.main-content .employee .block-calendar-onduty .box-content table thead th:nth-child(n+2),
.main-content .employee .block-calendar-onduty .box-content .table thead th:nth-child(n+2) {
  padding: 20px 15px 9px;
}

.main-content .employee .block-calendar-onduty .box-content table tbody tr td,
.main-content .employee .block-calendar-onduty .box-content .table tbody tr td {
  font-size: 16px;
  padding: 10px 5px 9px;
  vertical-align: middle;
  border-top: 1px solid #E5E5E5;
  width: 33%;
}

.main-content .employee .block-calendar-onduty .box-content table tbody tr td:nth-child(n+2),
.main-content .employee .block-calendar-onduty .box-content .table tbody tr td:nth-child(n+2) {
  padding: 10px 15px 9px;
}

.main-content .employee .block-calendar-onduty .box-content table tbody tr td strong,
.main-content .employee .block-calendar-onduty .box-content .table tbody tr td strong {
  display: block;
  font-weight: bold;
}

.main-content .employee .block-calendar-onduty .action {
  padding-top: 20px;
  padding-bottom: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .employee .block-calendar-onduty .action .btn-primary {
  background: #00B14F;
  border: 1px solid #00B14F;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 0 12px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.main-content .employee .block-calendar-onduty .action .btn-primary svg {
  fill: #fff;
  margin-right: 5px;
  margin-top: -3px;
}

@media (min-width: 992px) {
  .col-item-5 {
    max-width: 20%;
  }
}

@media (max-width: 767px) {
  .main-content .employee .block-list-employee {
    padding-top: 0;
  }
  .main-content .employee .block-list-employee .btn-grid {
    top: 5px;
  }
  .main-content .employee .block-list-employee .action-delete .btn-primary,
  .main-content .employee .block-list-employee .action-delete .btn-cancel {
    margin: 0 5px;
  }
  .main-content .employee .block-list-employee .action {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content .employee .block-list-employee .action .btn-primary {
    width: 200px;
    margin: 0 5px;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content .employee .block-calendar-onduty .filter .input-component {
    margin-left: 10px;
  }
  .main-content .employee .block-calendar-onduty .filter .input-component:first-child {
    margin-left: 0;
  }
  .main-content .employee .block-calendar-onduty .filter .input-component input {
    padding-left: 10px;
    font-size: 10px;
    font-size: 14px;
  }
  .main-content .employee .block-calendar-onduty .filter .input-component svg {
    right: 9px;
  }
  .main-content .employee .block-calendar-onduty .box-content {
    padding: 0 10px;
    white-space: nowrap;
    overflow: auto;
  }
  .main-content .employee .block-calendar-onduty .action {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content .employee .block-calendar-onduty .action .btn-primary {
    width: 200px;
    margin-bottom: 10px;
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
