aside {
  width: 360px;
  -webkit-box-shadow: 6px -5px 10px -5px #b2b2b2;
          box-shadow: 6px -5px 10px -5px #b2b2b2;
  z-index: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

aside .information > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

aside .information .logo {
  padding-left: 25px;
}

aside .information .detail {
  padding: 25px 0;
}

aside .information .detail h3 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

aside .information .detail h3:after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background: #383838;
  margin-top: 4px;
}

aside .information .detail P {
  font-size: 10px;
  line-height: 12px;
  color: #666;
  margin-bottom: 0;
}

aside nav {
  padding: 20px 25px;
}

aside nav ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

aside nav ul li {
  border-bottom: 1px solid transparent;
}

aside nav ul li.has-sub > a {
  border-bottom: 1px solid #ddd;
}

aside nav ul li.has-sub > a span {
  text-decoration: none;
}

aside nav ul li.has-sub > a.collapsed {
  border-bottom-color: transparent;
}

aside nav ul li.has-sub .show span {
  border-bottom: 1px solid #ddd;
}

aside nav ul li a {
  display: block;
  line-height: 34px;
  color: #383838;
  font-size: 16px;
  padding-left: 25px;
  position: relative;
}

aside nav ul li a span {
  display: block;
  position: relative;
  border-bottom: 1px solid transparent;
}

aside nav ul li a svg {
  fill: #383838;
  position: absolute;
}

aside nav ul li a svg.nav-icon {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside nav ul li a svg.nav-arrow, aside nav ul li a svg.nav-plus {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside nav ul li a:hover {
  text-decoration: none;
  color: #00B14F;
}

aside nav ul li a:hover svg {
  fill: #00B14F;
}

aside nav ul li.active a {
  color: #00B14F;
  font-weight: 500;
  border-bottom: 1px solid #00B14F;
}

aside nav ul li.active a svg {
  fill: #00B14F;
}

aside nav ul li.active ul li a {
  border-bottom: none;
  color: #383838;
}

aside nav ul li.active ul li a svg {
  fill: #383838;
}

aside nav ul li.active ul li a:hover {
  color: #00B14F;
}

aside nav ul li.active ul li a:hover svg {
  fill: #00B14F;
}

aside nav ul li.active ul li.active a {
  color: #00B14F;
}

aside nav ul li.active ul li.active a svg {
  fill: #00B14F;
}

@media (max-width: 1199px) {
  aside {
    position: absolute;
    background: #fff;
    z-index: 99;
    bottom: 0;
    top: 0;
  }
  aside.show {
    display: block !important;
  }
}

@media (max-width: 767px) {
  aside {
    width: 100%;
  }
  aside .information .detail {
    padding: 15px 0;
  }
  aside nav {
    padding: 0 15px;
  }
}
