@import '../common/common.scss';
@import '../common/header.scss';
@import '../common/sidebar.scss';
@import '../common/pagination.scss';

#wrapper {
    position: relative;
}

.main-content {
    .device-manager {
        padding-top: 11px;
        color: #383838;

        &.full-height {
            height: 100%;
        }

        .filter {
            background: #FFFFFF;
            border-radius: 3px;
            padding: 0 10px 10px;
            margin: 0 0 20px;
            position: relative;

            h3 {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                padding: 22px 0 23px;
                margin: 0 0 22px;
                border-bottom: 2px solid #E5E5E5;
            }

            .btn-add-device {
                background: #00B14F;
                border-color: #00B14F;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                border-radius: 3px;
                color: #fff;
                height: 38px;
                line-height: 38px;
                padding: 0 12px;
                position: absolute;
                right: 10px;
                top: 13px;
                font-size: 16px;

                svg {
                    height: 12px;
                    width: 12px;
                    fill: #fff;
                    margin-left: 5px;
                }
            }

            .form-group {
                margin: 0 0 20px;

                .input-component {
                    position: relative;

                    input {
                        background: #FFFFFF;
                        border: 1px solid #A4A4A4;
                        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                        border-radius: 3px;
                        height: 36px;
                        line-height: 36px;
                        padding: 0 56px 0 12px;
                        font-size: 16px;
                        width: 100%;
                    }

                    &.date-time {
                        input {
                            padding: 0 36px 0 12px;
                        }
                    }

                    svg {
                        fill: #A4A4A4;
                        position: absolute;
                        top: 11px;
                        right: 10px;
                    }

                    .btn-search {
                        height: 34px;
                        outline: none;
                        border: none;
                        border-left: 1px solid #a4a4a4;
                        border-radius: 0;
                        padding: 0;
                        width: 44px;
                        background: #fff;
                        position: absolute;
                        right: 1px;
                        top: 1px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0px 3px 3px 0px;

                        svg {
                            position: static;
                        }
                    }
                }

                .select-component {
                    position: relative;

                    select {
                        background: url(../../../images/caret-down.svg) no-repeat right 10px center #FFFFFF;
                        border: 1px solid #A4A4A4;
                        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                        border-radius: 3px;
                        height: 36px;
                        line-height: 36px;
                        padding: 0 28px 0 12px;
                        font-size: 16px;
                        width: 100%;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;

                        &:valid~label {
                            display: none;
                        }
                    }

                    label {
                        color: #A4A4A4;
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        left: 12px;
                        transform: translateY(-50%);
                        margin: 0;
                    }
                }
            }
        }

        .block-list-device {
            background: #FFFFFF;
            border-radius: 3px;
            padding: 0 10px 20px;

            .box-content {

                .table,
                table {
                    margin: 0;

                    label {
                        margin: 2px 2px 0 0;
                        cursor: pointer;
                        vertical-align: top;
                        position: relative;

                        input {
                            position: absolute;
                            opacity: 0;
                            width: 30px;
                            height: 30px;
                            left: -8px;
                            top: -8px;
                            cursor: pointer;

                            &:checked {
                                ~.checkmark {
                                    &:before {
                                        content: "";
                                        background: url(../../../images/checked.svg) no-repeat;
                                        width: 10px;
                                        height: 10px;
                                        position: absolute;
                                        top: 1px;
                                        left: 1px;
                                    }
                                }
                            }
                        }

                        .checkmark {
                            background: #FFFFFF;
                            border: 1.4px solid #A4A4A4;
                            border-radius: 3px;
                            width: 14px;
                            height: 14px;
                            display: block;
                            position: relative;
                        }
                    }

                    thead {
                        th {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 1.2;
                            border-bottom: 2px solid #E5E5E5;
                            border-top: none;
                            padding: 26px 15px 16px;
                            white-space: nowrap;

                            &:first-child {
                                padding-left: 0;
                            }

                            &:last-child {
                                padding-right: 0;
                                width: 34px;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                font-size: 16px;
                                line-height: 1.2;
                                border-bottom: 1px solid #E5E5E5;
                                border-top: none;
                                padding: 16px 15px;

                                &:first-child {
                                    padding-left: 0;
                                }

                                &:last-child {
                                    padding-right: 0;
                                    width: 34px;
                                }

                                a {
                                    color: #008DC9;
                                }

                                label {
                                    margin-right: 7px;
                                }

                                .btn-grid {
                                    border: none;
                                    padding: 0;
                                    margin: 0;
                                    background: none;
                                    outline: none;
                                    display: block;

                                    svg {
                                        height: 18px;
                                        width: 18px;
                                        fill: #A4A4A4;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pager {
                margin-top: 14px;
            }
        }

        .block-device-detail {
            background: #FFFFFF;
            border-radius: 3px;
            padding: 0 10px;
            position: relative;

            h3 {
                padding: 22px 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                border-bottom: 2px solid #E5E5E5;
                margin: 0 0 20px;
                padding-right: 160px;
            }

            .link-involve {
                position: absolute;
                font-size: 16px;
                color: #008DC9;
                right: 10px;
                top: 21px;
                display: flex;
                align-items: center;

                svg {
                    width: 19px;
                    height: 12px;
                    margin-left: 6px;
                    flex-shrink: 0;
                    fill: #008DC9;
                }
            }

            .form-group {
                margin: 0 0 20px;

                label {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.2;
                    display: block;
                    margin: 0 0 9px;
                    padding-left: 5px;
                }

                input {
                    background: #FFFFFF;
                    border: 1px solid #A4A4A4;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 12px 0 12px;
                    font-size: 16px;
                    width: 100%;
                }

                .input-component {
                    position: relative;

                    input {
                        padding: 0 36px 0 12px;
                    }

                    svg {
                        fill: #A4A4A4;
                        position: absolute;
                        top: 11px;
                        right: 10px;
                    }
                }

                select {
                    background: url(../../../images/caret-down.svg) no-repeat right 10px center #FFFFFF;
                    border: 1px solid #A4A4A4;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 28px 0 12px;
                    font-size: 16px;
                    width: 100%;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                }

                .btn-plan-maintenance {
                    width: 100%;
                    height: 36px;
                    line-height: 36px;
                    padding: 0;
                    background: #FFFFFF;
                    border: 1px solid #A4A4A4;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
                    border-radius: 3px;
                    color: #008DC9;
                    margin: 28px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 19px;
                        height: 12px;
                        margin-left: 6px;
                        flex-shrink: 0;
                        fill: #008DC9;
                    }

                    &:hover {
                        background: #008DC9;
                        color: #fff;

                        svg {
                            fill: #fff;
                        }
                    }
                }
            }

            .action {
                padding: 10px 0 38px;
                text-align: right;

                .btn {
                    width: 152px;
                    padding: 0 10px;
                    height: 38px;
                    line-height: 38px;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    background: #00B14F;
                    border: none;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 16px;
                }

                .btn-cancel {
                    margin-right: 15px;
                    background: #C5C5C5;
                    color: #383838;
                    text-transform: none;
                }
            }
        }

        .block-device-create {
            background: #FFFFFF;
            border-radius: 3px;
            padding: 0 10px;
            position: relative;
            height: 100%;

            h3 {
                padding: 22px 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                border-bottom: 2px solid #E5E5E5;
                margin: 0 0 20px;
            }

            .form-group {
                margin: 0 0 20px;

                label {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.2;
                    display: block;
                    margin: 0 0 9px;
                    padding-left: 5px;
                }

                input {
                    background: #FFFFFF;
                    border: 1px solid #A4A4A4;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 12px 0 12px;
                    font-size: 16px;
                    width: 100%;
                }

                .input-component {
                    position: relative;

                    input {
                        padding: 0 36px 0 12px;
                    }

                    svg {
                        fill: #A4A4A4;
                        position: absolute;
                        top: 11px;
                        right: 10px;
                    }
                }

                select {
                    background: url(../../../images/caret-down.svg) no-repeat right 10px center #FFFFFF;
                    border: 1px solid #A4A4A4;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 28px 0 12px;
                    font-size: 16px;
                    width: 100%;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                }
            }

            .action {
                padding: 10px 0 38px;
                text-align: right;

                .btn {
                    width: 152px;
                    padding: 0 10px;
                    height: 38px;
                    line-height: 38px;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    background: #00B14F;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                }

                .btn-cancel {
                    margin-right: 15px;
                    background: #C5C5C5;
                    color: #383838;
                }
            }
        }
    }
}

@media(max-width: 1400px) {
    .main-content {
        .device-manager {
            .block-list-device {
                .box-content {
                    white-space: nowrap;
                    width: 100%;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;

                    .table,
                    table {
                        thead {
                            th {
                                &:first-child {
                                    min-width: 250px;
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        min-width: 250px;
                                    }

                                    white-space: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .main-content {
        .device-manager {
            padding-top: 0;

            .filter {
                padding-bottom: 0;

                h3 {
                    font-size: 17px;
                    margin: 0 0 15px;
                }

                .btn-add-device {
                    padding: 0 10px;
                    font-size: 15px;
                }

                .form-group {
                    margin-bottom: 15px;
                }
            }

            .block-list-device {
                padding-bottom: 10px;

                .box-content {

                    .table,
                    table {
                        thead {
                            th {
                                &:first-child {
                                    min-width: 200px;
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        min-width: 200px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .block-device-detail {
                h3 {
                    padding: 22px 0 35px;
                    margin-bottom: 0;
                }

                .link-involve {
                    position: relative;
                    top: -37px;
                    right: auto;
                    left: 0;
                }

                .form-group {
                    .btn-plan-maintenance {
                        margin: 0;
                    }
                }

                .action {
                    padding: 10px 0 10px;
                    margin: 0 -7.5px;
                    text-align: center;

                    .btn,
                    .btn-cancel {
                        margin: 0 7.5px 10px;
                        width: 140px;
                    }
                }
            }

            .block-device-create {
                h3 {
                    padding: 22px 0 35px;
                }

                .action {
                    padding: 10px 0 10px;
                    margin: 0 -7.5px;
                    text-align: center;

                    .btn,
                    .btn-cancel {
                        margin: 0 7.5px 10px;
                        width: 140px;
                    }
                }
            }
        }
    }
}