@import '../common/common.scss';
@import '../common/header.scss';
@import '../common/sidebar.scss';
@import '../common/pagination.scss';

#wrapper {
    position: relative;
}

.main-content {
    .employee-create {
        color: #383838;
        position: relative;
        padding: 13px 0 21px;

        h3 {
            font-weight: 500;
            font-size: 20px;
            padding-bottom: 8px;
            margin: 0 0 31px;
            line-height: 1.2;
            border-bottom: 1px solid #A4A4A4;
        }

        .form-group {
            margin-bottom: 10px;

            .avatar {
                position: relative;
                width: 112px;
                height: 112px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #e5e5e5;
                background: #fff;
                margin-bottom: 20px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                .choose-avatar {
                    position: absolute;
                    bottom: 0;
                    right: -122px;
                    z-index: 1;
                    cursor: pointer;
                    width: 110px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    background: #FFFFFF;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    border: none;
                    font-size: 16px;
                }

                .remove-avatar {
                    position: absolute;
                    top: 4px;
                    right: -21px;
                    cursor: pointer;
                }
            }

            label {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0;
                line-height: 36px;
                text-align: right;
            }

            span {
                font-size: 16px;
                line-height: 36px;
                display: block;
            }

            .btn-change-pass {
                padding: 0 14px;
                line-height: 36px;
                background: #fff;
                border-radius: 3px;
                box-shadow: 1px 1px 6px -2px #c2c2c2;
            }

            .radio {
                display: inline-block;
                position: relative;
                cursor: pointer;
                font-size: 16px;
                user-select: none;
                padding-left: 25px;
                font-weight: normal;
                margin-right: 10px;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;

                    &:checked~.checkmark:after {
                        display: block;
                    }
                }

                .checkmark {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    border: 1px solid #a4a4a4;
                    background: #fff;
                    border-radius: 50%;

                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 50%;
                        left: 50%;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        background: #00B14F;
                    }
                }

                &:hover {
                    .checkmark {
                        &:after {
                            display: block;
                        }
                    }
                }
            }

            .input-component {
                position: relative;

                svg {
                    position: absolute;
                    right: 0;
                    fill: #a4a4a4;
                    width: 14px;
                    height: 12px;
                    top: 12px;
                    right: 10px;
                }
            }
        }

        .action {
            padding-top: 34px;

            .btn {
                text-transform: uppercase;
                width: 130px;
                font-size: 14px;
                font-weight: 500;
            }

            .btn-reset {
                background: #e5e5e5;
                margin-right: 10px;
            }

            .btn-submit {
                color: #fff;
                background: #00B14F;
            }
        }
    }
}

@media(max-width: 767px) {
    .main-content {
        .employee-create {
            padding-top: 0;

            h3 {
                margin-bottom: 20px;
            }

            .form-group {
                margin-bottom: 15px;

                label {
                    text-align: left;
                    line-height: 1.2;
                    margin-bottom: 5px;
                }

                .radio {
                    line-height: 36px;
                }

                .avatar {
                    margin-bottom: 0;
                }
            }

            .action {
                padding-top: 5px;
            }
        }
    }
}