@import '../common/common.scss';
@import '../common/header.scss';
@import '../common/sidebar.scss';
@import '../common/pagination.scss';

#wrapper {
    position: relative;
}

.main-content {
    .maintenance-operation {
        padding-top: 10px;
        color: #383838;

        .info-device {
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            padding: 0 17px 12px;
            position: relative;
            margin: 0 0 24px;

            h3 {
                font-weight: 500;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 1.2;
                padding: 28px 0 20px;
                border-bottom: 1px solid #3E5C9A;
                margin: 0 0 18px;
            }

            .btn-info-device {
                position: absolute;
                font-size: 16px;
                color: #008DC9;
                right: 17px;
                top: 26px;
                display: flex;
                align-items: center;

                svg {
                    width: 19px;
                    height: 12px;
                    margin-left: 6px;
                    flex-shrink: 0;
                    fill: #008DC9;
                }
            }

            p {
                font-size: 16px;
                line-height: 22px;
                margin: 0 0 16px;

                strong {
                    font-weight: 500;
                }
            }
        }

        .history-maintaince {
            position: relative;

            h3 {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                padding: 8px 0 12px;
                margin: 0;
            }

            .filter {
                display: flex;
                align-items: center;
                position: absolute;
                right: 0;
                top: 0;

                .input-component {
                    position: relative;
                    margin-right: 15px;

                    input {
                        background: #FFFFFF;
                        border: 1px solid #A4A4A4;
                        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                        border-radius: 3px;
                        width: 288px;
                        height: 36px;
                        line-height: 36px;
                        padding: 0 12px;
                        padding-right: 50px;
                        font-size: 16px;
                    }

                    .btn-search {
                        background: none;
                        border-radius: 0;
                        height: 34px;
                        line-height: 34px;
                        padding: 0;
                        width: 43px;
                        border-left: 1px solid #A4A4A4;
                        position: absolute;
                        right: 1px;
                        top: 1px;

                        svg {
                            fill: #A4A4A4;
                        }
                    }
                }

                .btn-grid {
                    border: none;
                    padding: 0;
                    margin: 0;
                    background: none;
                    outline: none;
                    display: block;

                    svg {
                        height: 18px;
                        width: 18px;
                        fill: #A4A4A4;
                        display: block;
                    }
                }
            }

            .box-list-history {
                background: #FFFFFF;
                border: 1px solid #E5E5E5;
                border-radius: 3px;
                padding: 0 17px 12px;
                margin: 0 0 20px;

                .table,
                table {
                    margin: 0;

                    thead {
                        th {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 1.2;
                            border-bottom: 1px solid #3E5C9A;
                            border-top: none;
                            padding: 20px 15px 7px;
                            white-space: nowrap;

                            &:first-child {
                                padding-left: 0;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                font-size: 16px;
                                border-bottom: 1px solid #A4A4A4;
                                border-top: none;
                                font-size: 16px;
                                line-height: 22px;
                                padding: 9px 15px;

                                &:first-child {
                                    padding-left: 0;
                                    width: 180px;
                                }

                                &:nth-child(2) {
                                    width: 400px;
                                }

                                &:nth-child(3) {
                                    width: 250px;
                                }
                            }

                            &:last-child {
                                td {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }

            .action-pagination {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;

                .pager {
                    margin: 0;

                    .pagination {
                        margin: 0;
                    }
                }

                .action {
                    display: flex;
                    flex-wrap: wrap;

                    .btn-primary {
                        font-weight: 500;
                        font-size: 14px;
                        color: #FFFFFF;
                        height: 38px;
                        line-height: 38px;
                        padding: 0 11px;
                        background: #00B14F;
                        border-color: #00B14F;
                        border-radius: 3px;
                        margin: 0 10px;
                    }
                }
            }
        }

        .device-detail {
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            padding: 0 17px 30px;

            h3 {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                border-bottom: 1px solid #A4A4A4;
                padding: 16px 0 15px;

                svg {
                    width: 22px;
                    height: 14px;
                    fill: #383838;
                    margin-right: 9px;
                }
            }

            .content {
                font-size: 16px;
                line-height: 24px;

                strong {
                    font-weight: 500;
                }

                p {
                    margin: 0;
                }

                .note {
                    margin-top: 20px;
                }
            }
        }

        .update-calendar-maintain {
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 3px;
            padding: 0 17px;

            h3 {
                padding: 26px 0 18px;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.2;
                border-bottom: 1px solid #3E5C9A;
                margin: 0 0 18px;
                text-transform: uppercase;
            }

            .form-group {
                margin: 0 0 20px;

                label {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.2;
                    display: block;
                    margin: 0 0 10px;
                    padding-left: 5px;
                }

                input {
                    background: #FFFFFF;
                    border: 1px solid #A4A4A4;
                    border-radius: 3px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 12px 0 12px;
                    font-size: 16px;
                    width: 100%;
                }

                textarea {
                    min-height: 140px;
                    border: 1px solid #A4A4A4;
                    border-radius: 3px;
                    resize: none;
                    width: 100%;
                    padding: 9px 12px 0 12px;
                    font-size: 16px;
                    vertical-align: top;

                    &.note {
                        height: 310px;
                    }
                }

                .input-component {
                    position: relative;

                    input {
                        padding: 0 36px 0 12px;
                    }

                    svg {
                        fill: #A4A4A4;
                        position: absolute;
                        top: 11px;
                        right: 10px;
                    }
                }

                select {
                    background: url(../../../images/caret-down.svg) no-repeat right 10px center #FFFFFF;
                    border: 1px solid #A4A4A4;
                    border-radius: 3px;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 28px 0 12px;
                    font-size: 16px;
                    width: 100%;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                }
            }

            .action {
                padding: 10px 0 28px;
                text-align: center;

                .btn {
                    width: 152px;
                    padding: 0 10px;
                    height: 38px;
                    line-height: 38px;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    background: #00B14F;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                    margin: 0 10px 10px;
                }

                .btn-cancel {
                    background: #C5C5C5;
                    color: #383838;
                }
            }
        }
    }
}

@media(max-width: 991px) and (min-width: 768px) {
    .main-content {
        .maintenance-operation {
            .history-maintaince {
                .box-content {
                    width: 100%;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;

                    .table,
                    table {
                        tbody {
                            tr {
                                td {
                                    &:nth-child(2) {
                                        min-width: 350px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .main-content {
        .maintenance-operation {
            padding-top: 0;

            .info-device {
                h3 {
                    padding: 22px 0 35px;
                    margin-bottom: 0;
                }

                .btn-info-device {
                    position: relative;
                    top: -34px;
                    right: auto;
                    left: 0;
                }

                p {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 20px;
                    }
                }
            }

            .history-maintaince {
                .filter {
                    position: static;
                    margin-bottom: 10px;

                    .input-component {
                        input {
                            width: 245px;
                        }
                    }
                }

                .box-content {
                    width: 100%;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;

                    .table,
                    table {
                        tbody {
                            tr {
                                td {
                                    &:nth-child(2) {
                                        min-width: 350px;
                                    }
                                }
                            }
                        }
                    }
                }

                .action-pagination {
                    display: block;

                    .action {
                        margin-top: 20px;
                        justify-content: center;

                        .btn-primary {
                            width: 188px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .update-calendar-maintain {
                .form-group {
                    textarea {
                        &.note {
                            height: 140px;
                        }
                    }
                }

                .action {
                    padding-bottom: 15px;
                }
            }
        }
    }
}