@import '../common/common.scss';
@import '../common/header.scss';
@import '../common/sidebar.scss';
@import '../common/pagination.scss';

#wrapper {
  position: relative;
}

.main-content {
  .residents-comments {
    .filter {

      .btn {
        height: 36px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 1px 1px 6px -2px #c2c2c2;
        font-size: 16px;
        font-weight: 500;
        padding: 0 12px;
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover, &.active {
          background: #00B14F;
          color: #fff;
        }
      }

      .more-action {
        flex: 0 0 18px;
        margin-left: auto;
        margin-right: 0.75rem;
        justify-content: center;
        align-items: center;

        svg {
          width: 18px;
          height: 18px;
          fill: #a4a4a4;
        }

        &:hover {
          svg {
            fill: #00B14F;
          }
        }
      }
    }

    .comments {
      border-top: 1px solid #aeaeae;
      border-bottom: 1px solid #aeaeae;
      padding: 20px 0;

      table {
        font-size: 18px;

        tr {
          &:nth-child(odd) {
            background: #fff;
          }

          &:nth-child(even) {
            background: #f5f5f5;
          }
        }

        td {
          border: none;
        }

        .title {
          font-size: 18px;
          color: #383838;
          font-weight: 500;

          &:hover {
            text-decoration: none;
            color: #00B14F;
          }
        }

        .view-detail {
          margin-left: auto;
          font-size: 16px;

          a {
            color: #008DC9;
          }
        }

        .more-menu {
          width: 18px;
          height: 18px;
          fill: #a4a4a4;

          &:hover {
            fill: #00B14F;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-content {
    .residents-comments {
      .filter {
        .btn {
          //margin-bottom: 10px;
        }
      }
    }
  }
}
