body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #383838;
  height: 100vh;
}

svg {
  width: 16px;
  height: 16px;

  &.nav-arrow {
    width: 7px;
    height: 12px;
  }

  &.nav-plus {
    width: 14px;
    height: 14px;
  }

  &.last-page {
    width: 7px;
    height: 8px;
  }
}