header {
  background: #00B14F;
  position: relative;
  z-index: 2;
  box-shadow: 0 5px 8px -5px #b2b2b2;
  padding: 0 20px;

  a {
    color: #fff;
    display: inline-block;
    line-height: 48px;
    font-size: 15px;

    &:hover {
      text-decoration: none;
      color: #fff;

      span {
        text-decoration: underline;
      }
    }
  }
}