aside {
  width: 360px;
  box-shadow: 6px -5px 10px -5px #b2b2b2;
  z-index: 1;
  flex-shrink: 0;

  .information {
    > div {
      align-items: center;
      flex: 1;
    }

    .logo {
      padding-left: 25px;
    }

    .detail {
      padding: 25px 0;

      h3 {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 5px;

        &:after {
          content: "";
          display: block;
          width: 24px;
          height: 1px;
          background: #383838;
          margin-top: 4px;
        }
      }

      P {
        font-size: 10px;
        line-height: 12px;
        color: #666;
        margin-bottom: 0;
      }
    }
  }

  nav {
    padding: 20px 25px;

    ul {
      list-style: none;
      padding: 0 0;
      margin: 0 0;

      li {
        border-bottom: 1px solid transparent;

        &.has-sub {
          & > a {
            border-bottom: 1px solid #ddd;

            span {
              text-decoration: none;
            }
            
            &.collapsed {
              border-bottom-color: transparent;
            }
          }

          .show {
            span {
              border-bottom: 1px solid #ddd;
            }
          }
        }

        a {
          display: block;
          line-height: 34px;
          color: #383838;
          font-size: 16px;
          padding-left: 25px;
          position: relative;

          span {
            display: block;
            position: relative;
            border-bottom: 1px solid transparent;
          }

          svg {
            fill: #383838;
            position: absolute;

            &.nav-icon {
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }

            &.nav-arrow,
            &.nav-plus {
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          &:hover {
            text-decoration: none;
            color: #00B14F;

            svg {
              fill: #00B14F;
            }
          }
        }

        &.active {         
          a {
            color: #00B14F;
            font-weight: 500;
            border-bottom: 1px solid #00B14F;

            svg {
              fill: #00B14F;
            }
          }

          ul {
            li {
              a {
                border-bottom: none;
                color: #383838;

                svg {
                  fill: #383838;
                }

                &:hover {
                  color: #00B14F;

                  svg {
                    fill: #00B14F;
                  }
                }
              }

              &.active {
                a {
                  color: #00B14F;

                  svg {
                    fill: #00B14F;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  aside {
    position: absolute;
    background: #fff;
    z-index: 99;
    bottom: 0;
    top: 0;

    &.show {
      display: block !important;
    }
  }
}

@media (max-width: 767px) {
  aside {
    width: 100%;

    .information {
      .detail {
        padding: 15px 0;
      }
    }

    nav {
      padding: 0 15px;
    }
  }
}